* {
	box-sizing: border-box;
	font-family: 'Varta', sans-serif;
}

body {
	margin: 0;
}

hr {
	margin: 0 auto;
	width: 75%;
	animation: slideInRight 2s;
}

i {
	animation: slideInBottom 1.5s;
	color: #ff851b;
	cursor: pointer;
}

.navBar {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.container {
	display: flex;
	justify-content: center;
	width: 40%;
}

.linkList {
	padding: 0;
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: #af7ac5;
	margin-top: 20px;
	animation: slideInRight 1.5s;
}

.linkList a {
	text-decoration: none;
	color: #ff851b;
	animation: fadeIn 3s;
	letter-spacing: 1.3px;
	font-size: 1.1em;
	border: 2px solid #ff851b;
	border-radius: 20px;
	padding: 10px;
	font-weight: 300;
	transition: background-color 0.3s, color 0.3s;
}

.linkList a:hover {
	background-color: #ff851b;
	color: white;
}

.main {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
}

.landingContainer {
	width: 75%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.landingContainer h1 {
	font-size: 4em;
	left: -500px;
	font-weight: 700;
	letter-spacing: 3px;
	animation: slideInLeft 2s;
}

.landingContainer h2 {
	font-size: 2em;
	letter-spacing: 2px;
}

.welcomeContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column: 1;
	grid-row: 1 / 4;
	animation: slideInTop 2s;
}

.nameContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: space-between;
	text-align: center;
	grid-column: 2;
	grid-row: 1 / 4;
}

.nameHeader {
	animation: slideInTop 2s;
}

.jobHeader {
	animation: slideInBottom 2s;
}

.about {
	height: 90vh;
	background-color: #ff851b;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about h2 {
	text-align: center;
	color: white;
	font-size: 2em;
}

.about p {
	color: white;
	text-align: center;
	width: 50%;
	line-height: 35px;
	font-size: 1.3em;
	letter-spacing: 1.5px;
}

.skills {
	height: 55vh;
	display: flex;
	justify-content: center;
}

.skillsContainer {
	position: relative;
	display: flex;
	top: -60px;
	border-radius: 30px;
	width: 50%;
	background-color: white;
	box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
	z-index: 1;
	flex-direction: row;
	justify-content: space-evenly;
}

.skillColumn {
	width: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.skillColumn ul {
	padding: 0;
}

.skillColumn ul li {
	margin-top: 10px;
	border: 1px solid #ff851b;
	background-color: #ff851b;
	color: white;
	border-radius: 25px;
	text-align: center;
	padding: 10px;
}

.skillColumn h3 {
	text-align: center;
}

.skillColumn ul {
	list-style: none;
}

/* .skillsContainer div:nth-child(1) {
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border-right: 1px solid black;
}

.skillsContainer div:nth-child(3) {
	border-left: 1px solid black;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
} */
