* {
	box-sizing: border-box;
	font-family: 'Varta', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	scroll-behavior: smooth;
}

hr {
	margin: 0 auto;
	width: 75%;
	animation: slideInRight 2s;
}

i {
	animation: slideInBottom 1.5s;
	color: #ff851b;
	cursor: pointer;
	transition: color 0.3s;
}

i:hover {
	color: black;
}

.navBar {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.container {
	display: flex;
	justify-content: center;
	width: 40%;
}

.linkList {
	padding: 0;
	width: 90%;
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	color: #af7ac5;
	animation: slideInRight 1.5s;
}

.linkList a {
	text-decoration: none;
	color: #ff851b;
	animation: fadeIn 3s;
	letter-spacing: 1.3px;
	font-size: 1.1em;
	border: 2px solid #ff851b;
	border-radius: 20px;
	padding: 10px;
	font-weight: 300;
	transition: background-color 0.3s, color 0.3s;
}

.linkList a:hover {
	background-color: #ff851b;
	color: white;
}

.main {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
}

.landingContainer {
	width: 75%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.landingContainer h1 {
	font-size: 4em;
	left: -500px;
	font-weight: 700;
	letter-spacing: 3px;
	animation: slideInLeft 2s;
}

.landingContainer h2 {
	font-size: 2em;
	letter-spacing: 2px;
}

.welcomeContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column: 1;
	grid-row: 1 / 4;
	animation: slideInTop 2s;
}

.nameContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: space-between;
	text-align: center;
	grid-column: 2;
	grid-row: 1 / 4;
}

.nameHeader {
	animation: slideInTop 2s;
}

.jobHeader {
	animation: slideInBottom 2s;
}

.about {
	height: 90vh;
	background-color: #ff851b;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about h2 {
	text-align: center;
	color: white;
	font-size: 2em;
}

.about p {
	color: white;
	text-align: center;
	width: 50%;
	line-height: 35px;
	font-size: 1.3em;
	letter-spacing: 1px;
}

.skills {
	height: 55vh;
	display: flex;
	justify-content: center;
}

.skillsContainer {
	position: relative;
	display: flex;
	top: -60px;
	border-radius: 20px;
	width: 50%;
	background-color: white;
	box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
	z-index: 1;
	flex-direction: row;
	justify-content: space-evenly;
}

.skillColumn {
	width: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.skillColumn ul {
	padding: 0;
}

.skillColumn ul li {
	margin-top: 10px;
	border: 1px solid #ff851b;
	background-color: #ff851b;
	color: white;
	border-radius: 25px;
	text-align: center;
	padding: 10px;
}

.skillColumn h3 {
	text-align: center;
}

.skillColumn ul {
	list-style: none;
}

.contactForm {
	height: 70vh;
	background-color: #ff851b;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects {
	height: 100vh;
	background-color: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.projectsContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	height: 50%;
}

.project {
	background-color: #ff851b;
	color: white;
	border-radius: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 15%;
	height: 50%;
}

.project button {
	background-color: #ff851b;
	border: 2px solid white;
	font-size: 1em;
	margin-bottom: 30px;
	color: white;
	width: 45%;
	border-radius: 5px;
	padding: 3px;
	transition: color 0.2s, background-color 0.2s;
}

.project button:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	width: 30%;
	height: 75%;
}

form h2 {
	color: white;
	font-size: 2em;
	border-bottom: 3px solid white;
	padding-bottom: 15px;
}

form button {
	background-color: #ff851b;
	border: 2px solid white;
	font-size: 1.5em;
	color: white;
	width: 45%;
	border-radius: 5px;
	padding: 5px;
	transition: color 0.2s, background-color 0.2s;
}

form button:hover {
	background-color: white;
	color: #ff851b;
	cursor: pointer;
}

.inputContainer {
	display: flex;
	justify-content: space-between;
}

.submitContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

.inputContainer input {
	color: white;
	border: none;
	padding-bottom: 10px;
	background-color: #ff851b;
	border-bottom: 2px solid white;
	font-size: 1.5em;
	transition: border-bottom-color 0.3s;
}

input:hover {
	border-bottom-color: black;
}

.inputContainer input::placeholder {
	color: white;
	font-size: 0.8em;
}

.inputContainer input:focus {
	outline: none;
	border-bottom-color: black;
}

.footer {
	background-color: #ff851b;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: column;
}

.footer i {
	color: white;
	transition: color 0.3s;
	margin-bottom: 10px;
}

.footer i:hover {
	color: black;
}

.socialMedia {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 100px;
	width: 20%;
}
